body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.title-bar {
  flex-shrink: 0;
  user-select: none;
  -webkit-app-region: drag;
  width: 100vw;
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  box-sizing: border-box;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
}

.platform-win32 {
  .title-bar {
    height: 37px;
    display: flex;
    align-items: center;
    padding-left: 1em;
  }
}

.platform-darwin {
  .title-bar {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}
