@import "../global";

mwc-top-app-bar-fixed {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.main-content {
  padding: 1em;

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
            "webcamSelect webcamSelect"
            "displaySelect displaySelect"
            "controls videoOutput";
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

#webcams {
  grid-area: webcamSelect;
}

#displays {
  grid-area: displaySelect;
}

#controls {
  grid-area: controls;
  display: flex;
  flex-direction: column;

  .spacer {
    flex-grow: 1;
  }

  #changeOptionsButton {
    --mdc-theme-primary: var(--mdc-theme-secondary);
    --mdc-theme-on-primary: var(--mdc-theme-on-secondary);
  }

  mwc-button:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

#videoContainer {
  grid-area: videoOutput;
  background-color: lightgrey;
  height: 13em;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

#videoContainerLabel {
  font-size: 1.5em;
}

#output {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.25em;

  display: flex;
  align-items: center;
  padding: 0 0.5em;

  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);

  --mdc-icon-button-size: 16px;
  --mdc-icon-size: 16px;

  mwc-icon-button {
    margin-left: 0.5em;
  }

  .spacer {
    flex-grow: 1;
  }
}
