@use "@material/data-table/data-table";

@import "../global";
@import "../modules/titlebar";

@include data-table.core-styles;
@include data-table.theme-baseline;

main {
  padding: 1em;
}

.heading {
  margin: 0;
  font-size: 1.5em;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

.description {
  color: darkgrey;
  font-size: 0.9em;
  margin: 0.5em 0 1em;
}

.mdc-data-table {
  width: 100%;

  .mdc-data-table__table-container {
    overflow-x: hidden;

    .mdc-data-table__table {
      width: 100%;
    }
  }

  .technicalName {
    width: 50%
  }

  .customName {
    width: 50%;

    input {
      border: none;
      border-bottom: 2px dotted lightgrey;
      font-size: 1em;
      padding: 0.3em;
      outline: none;
      background-color: transparent;
      width: calc(100% - 10px);
    }
  }

  .actionButton {
    width: 64px;
  }
}

.no-otherDisplays .otherDisplays {
  display: none;
}
